<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>LogMeIn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "./css/home.css"/>
</head>
<body>

<%if(loggedIn == false){%>
    <a href="/login">Sign In</a>
    <a href="/new_user">Sign Up</a>
    <h1>Hello, this is a simple login app, <br></h1>
    <h3>You are currently not logged in<br>please either create an account or sign up to test the application</h3>
    <img src="./images/home_nli.png"/>
<%}else{%>
    <h1>Welcome User, you are currently logged in</h1>
    <a href="/">Sign Out</a>
    <img src="./images/home_li.png"/>
<%}%>
</body>
</html>
