<!doctype html>
<html lag="en">
<head>
	<meta charset="utf-8">
	<title>LogMeIn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="stylesheet/css" href="./style.css"/>
</head>
<body>
    <div id = "login-box">
    <form method = "POST" action = "/hello" id = "login-form">
    <input name = "mail" placeholder = "Your e-mail address" type = "text"/><br>
    <input name = "password" placeholder = "Password" type = "password"/><br>
    <button type="submit">Sign In</button><br>
    <a href = "restore_pass" >Forgot Your Password</a><br>
    <a href = "new_user" >Sign Up</a><br>
    </form>
    </div>
</body>
</html>
