<!doctype html>
<html lag="en">
<head>
	<meta charset="utf-8">
	<title>LogMeIn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="stylesheet/css" href="./style.css"/>
</head>
<body>
    <form method = "POST" action = "/success" id = "new-user__form">
        <label>Enter Name</label><br>
        <input name = "Name" placeholder = "Your Name" type = "text"/><br>
        <label>Enter your mail address</label><br>
        <input name = "mail" placeholder = "Your e-mail address" type = "text"/><br>
        <label>Enter a password</label><br>
        <input name = "password" placeholder = "Password" type = "password"/><br>
        <label>Confirm your password</label><br>
        <input name = "password" placeholder = "Password" type = "password"/><br>
        <button type="submit">Create Account</button><br>
    </form>
</body>
</html>
