<!doctype html>
<html lag="en">
<head>
	<meta charset="utf-8">
	<title>LogMeIn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="stylesheet/css" href="./style.css"/>
</head>
<body>
    <form id = "login-form">
    <label>Enter your e-mail bellow and instructions will be sent on how to reset your password:</label><br>
    <input name = "password" placeholder = "E-mail Address" type = "mail"/><br>
    <button type="submit">Send</button><br>
    </form>
</body>
</html>
