<!doctype html>
<html lag="en">
<head>
	<meta charset="utf-8">
	<title>LogMeIn</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="stylesheet/css" href="./style.css"/>
</head>
<body>
    Your account has been successfuly created, a link has been sent to the provided e-mail account with a confirmation link.
</body>
</html>
